<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.zcu.kiv.mobile.logger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cz.zcu.kiv.mobile.logger.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="cz.zcu.kiv.mobile.logger.service.DeviceCommunicatorService"
            android:exported="false" />

        <activity
            android:name="cz.zcu.kiv.mobile.logger.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity"
            android:label="@string/title_device_list"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.MainActivity" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.heart_rate.HeartRateActivity"
            android:label="@string/title_activity_heart_rate"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.fora.blood_pressure.BloodPressureActivity"
            android:label="@string/title_activity_blood_pressure"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.fora.blood_pressure.BloodPressureListActivity"
            android:label="@string/title_activity_blood_pressure_list"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.fora.blood_pressure.BloodPressureActivity" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.profiles.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.MainActivity" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.weight_scale.WeightScaleActivity"
            android:label="@string/title_activity_weight_scale"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.bluetooth.picker.BluetoothDevicePickerActivity"
            android:label="@string/title_activity_bluetooth_picker" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.service.ServiceManagementActivity"
            android:label="@string/title_activity_service_management" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.eegbase.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.zcu.kiv.mobile.logger.MainActivity" />
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.fora.glucose.GlucoseMeterActivity"
            android:label="@string/title_activity_glucose_meter"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity" />
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.fora.glucose.GlucoseMeterListActivity"
            android:label="@string/title_activity_glucose_list"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.fora.glucose.GlucoseMeterActivity" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.profiles.ProfileCreationTypeActivity"
            android:label="@string/title_activity_profile_creation_type"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.zcu.kiv.mobile.logger.MainActivity" />
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.eegbase.gen_par_upload.UploadGenericParametersActivity"
            android:label="@string/title_activity_upload_data" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.heart_rate.HeartRateDataListActivity"
            android:label="@string/title_activity_heart_rate_data_list"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.heart_rate.HeartRateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.zcu.kiv.mobile.logger.devices.heart_rate.HeartRateActivity" />
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.weight_scale.WeightScaleDataListActivity"
            android:label="@string/title_activity_weight_scale_data_list"
            android:parentActivityName="cz.zcu.kiv.mobile.logger.devices.weight_scale.WeightScaleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.zcu.kiv.mobile.logger.devices.weight_scale.WeightScaleActivity" />
        </activity>

        <activity
            android:name="cz.zcu.kiv.mobile.logger.eegbase.gen_par_upload.SelectExperimentActivity"
            android:label="@string/title_activity_select_experiment" >
        </activity>
    </application>

</manifest>