<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.zcu.kiv.mobile.logger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="cz.zcu.kiv.mobile.logger.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.zcu.kiv.mobile.logger.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.DeviceListActivity"
            android:label="@string/title_device_list" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.heart_rate.HeartRateActivity"
            android:label="@string/title_activity_search_hr" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.blood_pressure.BloodPressureActivity"
            android:label="@string/title_activity_blood_pressure" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.blood_pressure.BloodPressureListActivity"
            android:label="@string/title_activity_blood_pressure_list" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.profiles.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="cz.zcu.kiv.mobile.logger.devices.weight_scale.WeightScaleActivity"
            android:label="@string/title_activity_weight_scale" >
        </activity>
<!--         <activity -->
<!--             android:name="cz.zcu.kiv.mobile.logger.devices.pedometer.PedometerActivity" -->
<!--             android:label="@string/title_activity_pedometer" > -->
<!--         </activity> -->

        <activity
            android:name="cz.zcu.kiv.mobile.logger.bluetooth.picker.BluetoothDevicePickerActivity"
            android:label="@string/title_activity_bluetooth_picker" >
        </activity>
        
        <service
            android:name="cz.zcu.kiv.mobile.logger.services.DeviceCommunicatorService"
            android:exported="false" />

    </application>

</manifest>
